body{
	font: 20px Arial, sans-serif;
}

.navbar{
	background-color: #298A08;
}

.quem-somos{
	background-color: #8181f7;
	color: white;
}

.margin{
	padding-bottom: 30px;
	padding-top: 10px;
}

.parceiros{
	background-color: #585856;
}

.servicos{
	background-color: #40E0D0;
}

.texto-servicos{
	text-align: justify;
}

.bg-footer{
	background-color: black;
	color: white;
}